<h3>Register</h3>
<form [formGroup]="rForm" (ngSubmit)="register(rForm.value)">
    <div class="form-group">
        <div class="form-alert text-danger" *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">First Name is required</div>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user text-danger"></span></span>
            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <div class="form-alert text-danger" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">Last Name is required</div>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user text-danger"></span></span>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <div class="form-alert text-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Email is required and should be in a valid format</div>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-envelope text-danger"></span></span>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" email="true">
        </div>
    </div>
    <div class="form-group">
        <div class="form-alert text-danger" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Password is required</div>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock text-danger"></span></span>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="form-alert text-danger" *ngIf="!rForm.controls['confirmPassword'].valid && rForm.controls['confirmPassword'].touched">Confirm Password is required</div>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock text-danger"></span></span>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-danger" [disabled]="!rForm.valid">Register</button>
        <a *ngIf="showLoginLink" href="#" (click)="showLoginForm(true)" class="pull-right">Login</a>
    </div>
</form>
