<div class="row">
  <div class="col-xs-4">
    <div (click)="getTasksbyStatus('new')" class="status-task-count-container">
      <div class="status-task-count-new">NEW</div>
      <div class="status-task-count status-task-count-new">{{newTasksCount}}</div>
    </div>
  </div>
  <div class="col-xs-4">
    <div (click)="getTasksbyStatus('in_progress')" class="status-task-count-container">
      <div class="status-task-count-in-progress">IN PROGRESS</div>
      <div class="status-task-count status-task-count-in-progress">{{inProgressTasksCount}}</div>
    </div>
  </div>
  <div class="col-xs-4">
    <div (click)="getTasksbyStatus('complete')" class="status-task-count-container">
      <div class="status-task-count-complete">COMPLETE</div>
      <div class="status-task-count status-task-count-complete">{{completedTasksCount}}</div>
    </div>
  </div>
</div>