.circle-text {
    width:20%;
    font-size:24px;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.status-task-count-container {
    text-align: center;
}

.status-task-count {
    font-size: 140px;
}
.status-task-count-new {
    color: #b92222;
}
.status-task-count-in-progress {
    color: #2b2ba5;
}
.status-task-count-complete {
    color: #1c5f1c;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .status-task-count {
      font-size: 70px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .status-task-count {
        font-size: 60px;
    }
  }