<div>
    <div *ngIf="tasksList.length; else noTasksSaved">
        <hr class="task-list-hr"/>
        <div *ngFor="let task of tasksList | paginate: { itemsPerPage: 20, currentPage: p, totalItems: tasksList.length }">
            <div class="row">
                <div class="col-sm-9"><span class="task-list-txt">{{task.name}}</span></div>
                <div class="col-sm-1"><button class="btn btn-md btn-primary" [disabled]="task.isInProgressBtnDisabled" (click)="changeTaskStatusToInProgress(task)">In Progress</button></div>
                <div class="col-sm-1"><button class="btn btn-md btn-success" [disabled]="task.isCompleteBtnDisabled" (click)="changeTaskStatusToComplete(task)">Complete</button></div> 
            </div>
            <hr class="task-list-hr"/>
        </div>
        <pagination-controls (pageChange)="p = $event" directionLinks="true" ></pagination-controls>
    </div>
    <ng-template #noTasksSaved>
        <div class="task-list-txt">You have not saved any tasks</div>
    </ng-template>
</div>