<img class="img-circle login-angular-logo" src="assets/images/angular.svg"/>
<div class="login-form-container">
    <form>
        <div *ngIf="showLoginForm">
            <div class="form-group">
                <!--<label for="exampleInputEmail1">Email address</label>-->
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-envelope text-danger"></span></span>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="EMAIL">
                </div>
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock text-danger"></span></span>
                    <input type="password" class="form-control" aria-describedby="passwordHelp" placeholder="PASSWORD">
                </div>
            </div>
            <button type="submit" class="btn btn-danger">Login</button>
            <a href="#" (click)="toggleLoginRegistrationForm()" class="pull-right">Register</a>
        </div>
        <div *ngIf="!showLoginForm">
            <div>Registration form</div>
            <a href="#" (click)="toggleLoginRegistrationForm()" class="pull-right">Login</a>
        </div>
    </form>
</div>