<h3>Login</h3>
<form [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
    <div class="form-group">
        <div class="form-alert text-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Email is required and should be in a valid format</div>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-envelope text-danger"></span></span>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" email="true">
        </div>
    </div>
    <div class="form-group">
        <div class="form-alert text-danger" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Password is required</div>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock text-danger"></span></span>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-danger" [disabled]="(!rForm.valid || loggingInProgress)"><span>{{(loggingInProgress) ? "Logging In...": "Login"}}</span></button>
        <a *ngIf="showRegisterLink" href="#" (click)="showRegistrationForm(true)" class="pull-right">Register</a>
    </div>
</form>