/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f1f0f0 !important;
}

img.login-angular-logo {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}
