/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f1f0f0 !important;
}

.navbar-inverse {
    background-color: #961c1c !important;
    border-color: #961c1c !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}

ul.nav a:hover { 
    color: #961c1c !important;
    background-color: #fff !important;
}

img.login-angular-logo {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

.form-alert {
    padding: 5px 0;
    animation: 1s formAlertAnim forwards;
}

@keyframes formAlertAnim {
    from {
        opacity:0;
        transform: translateX(-40px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}
